* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	scroll-behavior: smooth;
}

body {
	color: #FFF0DC;
	background: #543A14;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px 10%;
	background: #131010;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 100;
}

.logo {
	position: relative;
	font-size: 25px;
	color: #FFF0DC;
	text-decoration: none;
	font-weight: 600;
	cursor: default;
	opacity: 0;
	animation: slideRight 1s ease forwards;
}

.navbar a {
	display: inline-block;
	font-size: 25px;
	color: #FFF0DC;
	text-decoration: none;
	font-weight: 500;
	margin-left: 35px;
	transition: .3s;
	opacity: 0;
	animation: slideTop .5s ease forwards;
	animation-delay: calc(.2s * var(--i));
}

.navbar a:hover {
	color: #543A14;
}

.home {
	position: relative;
	width: 100%;
	justify-content: space-between;
	height: 100vh;
	background: url('car.jpg') no-repeat;
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
	padding: 70px 10%;
}

.home-content {
	max-width: 600px;
}

.home-content h3 {
	font-size: 32px;
	font-weight: 700;
	opacity: 0;
	animation: slideBottom 1s ease forwards;
	animation-delay: .7s;
}

.home-content h3:nth-of-type(2) {
	margin-bottom: 30px;
	animation: slideTop 1s ease forwards;
	animation-delay: .7s;
}

.home-content h3 span {
	color: #F0BB78;
}

.home-content h1 {
	font-size: 56px;
	font-weight: 700;
	margin: -3px 0;
	opacity: 0;
	animation: slideRight 1s ease forwards;
	animation-delay: 1s;
}

.home-content p {
	font-size: 20px;
	opacity: 0;
	animation: slideLeft 1s ease forwards;
	animation-delay: 1s;
}

.home-sci a {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	background: transparent;
	border: 2px solid #FFF0DC;
	border-radius: 50%;
	font-size: 20px;
	color: #FFF0DC;
	text-decoration: none;
	transition: .5s ease;
	opacity: 0;
	animation: slideLeft 1s ease forwards;
	animation-delay: calc(.2s * var(--i));
	margin: 30px 15px 30px 0;
}

.home-sci a:hover {
	background: #FFF0DC;
	color: #543A14;
	box-shadow: 0 0 20px #FFF0DC;
}

.btn-box {
	display: inline-block;
	padding: 12px 28px;
	background: #FFF0DC;
	border-radius: 40px;
	font-size: 16px;
	color: #543A14;
	letter-spacing: 1px;
	text-decoration: none;
	font-weight: 600;
	opacity: 0;
	animation: slideTop 1s ease forwards;
	animation-delay: 2s;
	box-shadow: 0 0 5px #F0BB78,
	0 0 25px #F0BB78
}

.btn-box:hover {
	box-shadow: 0 0 5px #FFF0DC,
	0 0 25px #FFF0DC, 0 0 50px #FFF0DC,
	0 0 100px #FFF0DC, 0 0 200px #FFF0DC
}

.about {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	gap: 1.5rem;
}

.about-img img {
	margin: 100px;
	padding-bottom: 20%;
	max-width: 630px;
	height: auto;
	width: 100%;
	border-radius: 8px;
}

.about-text h2 {
	font-size: 60px;
}

.about-text h2 span {
	color: #F0BB78;
}

.about-text h4 {
	font-size: 29px;
	font-weight: 600;
	color: #FFF0DC;
	line-height: 1.7;
	margin: 15px 0 30px;
}

.about-text p {
	color: #FFF0DC;
	font-size: 20px;
	line-height: 1,4;
	margin-bottom: 4rem;
}

#passion {
	color: #FFF0DC;
	font-size: 20px;
	line-height: 1.4;
	margin-bottom: 4rem;
}

.sub-title {
	text-align: center;
	font-size: 60px;
	padding-bottom: 70px;
	padding-top: 30px;
}

.sub-title span {
	color: #F0BB78;
}

.container {
	padding: 90px;
}

.passion-list {
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(259px,1fr));
	grid-gap: 40px;
	margin-top: 50px;
}

.passion-list div {
	background-color: transparent;
	padding: 40px;
	font-size: 13px;
	font-weight: 13px;
	border-right: 10px;
	border-radius: 20px;
	transition: background 0.5s, transform 0.5s;
	box-shadow: 1px 1px 20px #543A14,
	1px 1px 40px #F0BB78;
}

.passion-list div i {
	font-size: 50px;
	margin-bottom: 30px;
}

.passion-list div h2 {
	font-size: 30px;
	font-weight: 500;
	margin-bottom: 15px;
}

.passion-list div a {
	text-decoration: none;
	color: #131010;
	font-size: 12px;
	margin-top: 20px;
	display: inline-block;
}

.read {
	display: inline-block;
	padding: 12px 28px;
	background: #FFF0DC;
	border-radius: 40px;
	font-size: 16px;
	color: #543A14;
	letter-spacing: 1px;
	text-decoration: none;
	font-weight: 600;
	opacity: 0;
	animation: slideTop 1s ease forwards;
	animation-delay: 2s;
	box-shadow: 0 0 5px #F0BB78,
	0 0 25px #F0BB78
}

.read:hover {
	box-shadow: 0 0 5px #FFF0DC,
	0 0 25px #FFF0DC, 0 0 50px #FFF0DC,
	0 0 100px #FFF0DC, 0 0 200px #FFF0DC
}

.passion-list div:hover {
	transform: translateY(-10px);
}

.contact {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	gap: 3rem;
	padding-left: 30px;
	margin-top: 130px;
}

.contact-text h2 {
	font-size: 90px;
	line-height: 1;
	text-align: center;
}

.contact-text h2 span {
	color: #F0BB78;
}

.contact-text h4 {
	margin: 15px 0;
	color: #FFF0DC;
	font-size: 20px;
	font-weight: 600;
}

.contact-text p {
	color: #FFF0DC;
	font-size: 20px;
	line-height: 30px;
	margin-bottom: 2rem;
}

.contact-list {
	margin-bottom: 3rem;
}

.contact-list li {
	margin-bottom: 10px;
	display: block;
}

.contact-list li {
	margin-bottom: 10px;
	display: block;
}

.contact-list i {
	display: inline-block;
	color: #FFF0DC;
	font-size: 20px;
	font-weight: 600;
	transition: all .40s ease;
}

.contact-list li a:hover {
	transform: scale(1.01) translateY(-5px);
	color: #FFF0DC;
}

.contact-icon i {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	background: transparent;
	border: 2px solid #FFF0DC;
	border-radius: 50%;
	font-size: 20px;
	color: #FFF0DC;
	text-decoration: none;
	margin: 30px 15px 30px 0;
	transition: .5s ease;
	opacity: 0;
	animation: slideLeft 1s ease forwards;
	animation-delay: calc(.2s * var(--i));
}

.contact-icon i:hover {
	background: #FFF0DC;
	color: #543A14;
	box-shadow: 0 0 20px #FFF0DC;
}

.contact-form form {
	position: relative;
}

.contact-form form input, form textarea {
	border: none;
	outline: none;
	width: 90%;
	padding: 18px;
	background: #F0BB78;
	color: #131010;
	font-size: 1rem;
	font-weight: 600;
	margin-bottom: 0.5rem;
	border-radius: 0.5rem;
}

.contact-form textarea {
	resize: none;
	height: 220px;
}

.contact-form form .send {
	display: inline-block;
	padding: 14px 60px;
	background: #FFF0DC;
	border-radius: 40px;
	font-size: 18px;
	color: #543A14;
	letter-spacing: 1px;
	text-decoration: none;
	font-weight: 600;
	opacity: 0;
	animation: slideTop 1s ease forwards;
	animation-delay: 2s;
	box-shadow: 0 0 5px #F0BB78,
	0 0 25px #F0BB78
}

.contact-form form .send:hover {
	box-shadow: 0 0 5px #FFF0DC,
	0 0 25px #FFF0DC, 0 0 50px #FFF0DC,
	0 0 100px #FFF0DC, 0 0 200px #FFF0DC
}

.last-text p {
	width: 100%;
	text-align: center;
	padding: 25px 0;
	background: #543A14;
	font-weight: 300;
	margin-top: 70px;
}

.top {
	position: fixed;
	bottom: 2.1rem;
	right: 2.1rem;
}

.top i {
	color: #131010;
	background: #FFF0DC;
	font-size: 20px;
	padding: 10px;
	border-radius: 0.5rem;
}



/*KEYFRAME*/
@keyframes slideRight {
	0% {
		transform: translateX(-100px);
		opacity: 0;
	}
	100% {
		transform: translateX(0px);
		opacity: 1;
	}
}

@keyframes slideLeft {
	0% {
		transform: translateX(100px);
		opacity: 0;
	}
	100% {
		transform: translateX(0px);
		opacity: 1;
	}
}

@keyframes slideTop {
	0% {
		transform: translateY(100px);
		opacity: 0;
	}
	100% {
		transform: translateY(0px);
		opacity: 1;
	}
}

@keyframes slideBottom {
	0% {
		transform: translateY(-100px);
		opacity: 0;
	}
	100% {
		transform: translateY(0px);
		opacity: 1;
	}
}
